name: Close Pull Request

# only trigger on pull request closed events
on:
  pull_request:
    types: [ closed ]

jobs:
  merge_job:
    # this job will only run if the PR has been merged
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
    - name: Initial data
      env:
        SHA_BEFORE: ${{ github.event.pull_request.before }}
      run: |
        env
        echo "------------------"
        echo REFS:$REFS GITHUB_SHA:$GITHUB_SHA GUTHIB_REF:$GITHUB_REF
        echo MR_SHA:${{ github.event.pull_request.merge_commit_sha }} SHA_AFTER:${{ github.event.pull_request.after }} SHA_BEFORE:$SHA_BEFORE
        echo PR #${{ github.event.number }} has been merged

    - name: Check that we have a tag
      run: |
        CHECK_TAG=$(git describe --exact-match 2 >/dev/null)
        echo $CHECK_TAG
        
    - name: Prepare email content  
      id: email  
      run: |  
        PR_TITLE="${{ github.event.pull_request.title }}"  
        PR_BODY="${{ github.event.pull_request.body }}"  
        PR_URL="${{ github.event.pull_request.html_url }}"  
          
        # Generate email HTML 
        EMAIL_HTML="<h2><strong>${PR_TITLE}</strong></h2>  
        <p>${PR_BODY}</p>  
        <p><a href=\"${PR_URL}\">PR Link</a></p>"  
          
        # Text version 
        EMAIL_TEXT="Название PR: ${PR_TITLE}  

        PR description:
        ${PR_BODY}

        Ссылка на PR: ${PR_URL}"  
          
        # Save to env
        echo "EMAIL_HTML<<EOF" >> $GITHUB_ENV  
        echo "$EMAIL_HTML" >> $GITHUB_ENV  
        echo "EOF" >> $GITHUB_ENV  
          
        echo "EMAIL_TEXT<<EOF" >> $GITHUB_ENV  
        echo "$EMAIL_TEXT" >> $GITHUB_ENV  
        echo "EOF" >> $GITHUB_ENV  
          
        echo "EMAIL_SUBJECT=New PR: ${PR_TITLE}" >> $GITHUB_ENV

    - name: Send Email
      uses: peter-evans/sendgrid-action@759305bb5ea3ea76d9520c2c7fce146f656fac1a # v1.0.1
      env:
        SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
        SCRIPT_FILEPATH: .github/workflows/email-send.js
        TO_EMAIL: ${{ secrets.TO_EMAIL }}
        FROM_EMAIL: 'no-reply@sendgrid.com'
        EMAIL_SUBJECT: ${{ env.EMAIL_SUBJECT }}  
        EMAIL_TEXT: ${{ env.EMAIL_TEXT }}  
        EMAIL_HTML: ${{ env.EMAIL_HTML }}

  close_job:
    # this job will only run if the PR has been closed without being merged
    if: github.event.pull_request.merged == false
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo PR #${{ github.event.number }} has been closed without being merged
